[[headers]]
    for = "/*"
    [headers.values]
    Content-Security-Policy = "upgrade-insecure-requests; block-all-mixed-content;"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "autoplay=(), camera=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), publickey-credentials-get=()"
    Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"

[[redirects]]
  from = "https://blog.lea.lgbt/*"
  to = "https://lea.codes/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://lea.codes/posts/2026-01-15-an-eleventy-config-for-moving-from-github-pages/"
  to = "https://lea.codes/posts/2026-01-15-an-eleventy-config-for-moving-from-jekyll/"
  status = 301
  force = true

[build]
  command = "npm run build"
  publish = "dist"
