.article-card {
  --button-bg: var(--card-button-bg, #000);
  --button-hover-bg: var(--card-button-hover-bg, #000);
  --button-active-bg: var(--card-button-active-bg, #000);

  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-radius: calc(var(--space-m) / 4);
  background: var(--card-bg, #000);
  color: var(--card-fg, #cc0);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.article-card h2,
.article-card h3 {
  font-size: var(--step-1);

  > a {
    color: var(--card-headline, var(--card-fg, #000));
  }
}

.article-card time {
  display: block;
  font-weight: 500;
}

ul.article-card__tag-list {
  margin-top: auto;
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

}

.article-card__tag-list a {
  display: block;
}
