.breadcrumb {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;

    > li {
      display: flex;
      gap: 0.5em;
      min-height: var(--step-0);
      border-radius: 1em;
      position: relative;
      align-items: center;

      &:not(:first-child)::before {
        content: '';
        width: 1em;
        height: 1em;
        background: color-mix(in srgb, currentColor, transparent 60%);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0 0);
        display: block;
      }

      > a {
        display: flex;
        height: 100%;
        gap: .25rem;
        align-items: center;
        color: var(--intro-fg);
      }
    }
  }
}
