.dialog {
  position: relative;
  margin: auto;
  background: var(--bg);
  color: var(--fg);
  padding: 1rem;
  border: 2px solid var(--fg);
  box-shadow: 2px 2px 0 0 var(--fg);

  &::backdrop {
    background: #0007;
    filter: blur(1);
  }
}

.dialog__button-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  > svg {
    color: var(--fg);
    display: block;
    width: 24px;
    height: 24px;

    > path {
      stroke: var(--fg);
    }
  }
}
