.header {
  background: var(--header-bg);
  color: var(--header-fg);
  padding: var(--space-m) 1rem;

  --outline-color: var(--fg);
}



.header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.header .logo {
  color: var(--header-fg);
  flex: 0 0 auto;
}

.header .logo svg {
  display: block;
  width: 240px;
}
