.intro {
  background: var(--intro-bg);
  color: var(--intro-fg);
  padding-block: var(--space-m);
}

.intro h1 {
  color: var(--intro-fg);
}

.intro > .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: 2rem;
}

.intro__picture > img {
  border-radius: 12.5%;
  box-shadow: .25rem .25rem .25rem 0 #000;
}

.intro__picture {
  width: 100%;
  max-width: 400px;
}

.intro__text header * {
  line-height: 1;
}
