.skip-link {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  font-family: system-ui, sans-serif;
  padding: .5em;
  border-radius: .5rem;
  border: 2px solid var(--button-fg);
  color: var(--button-fg);
  background: var(--button-bg);

  &:hover {
    color: var(--button-hover-fg);
    background: var(--button-hover-bg);
  }
}

.skip-link:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
