.top-nav {
  display: flex;
  align-items: center;
  flex: 1 auto;
}

.top-nav ul {
  flex: 0 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.top-nav li:empty {
  display: none;
}

.top-nav a,
.top-nav button {
  display: block;
  font-size: var(--step-2);
  padding: .5em;
  color: var(--header-fg);
  background: var(--header-bg);
  border-radius: .5rem;
}

.top-nav a:hover,
.top-nav a[aria-current="page"] {
  text-decoration-style: double;
}
