---
layout: base
---
{% if tag %}
  {% set collection = collections[tag] %}
  {% set title = "Articles tagged “" + tag + "”" %}
{% else %}
  {% set collection = collections.post %}
{% endif %}
<article>
  <div class="intro">
    <div class="flow wrapper">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="content">
    <div class="flow wrapper">
      <ul role="list" class="auto-grid" style="--min: 39ch">
      {% for post in collection | reverse %}
        {% set useH2 = true %}
        {% include "partials/article-card.njk" %}
      {% endfor %}
      </ul>
    </div>
  </div>
</article>
