---
layout: base
---
<div class="intro">
  <article class="flow wrapper">
    <h1>{{ title }}</h1>
  </article>
</div>
<div class="content">
  <article class="post | flow wrapper">
    {{ content | safe }}
  </article>
</div>
