---
layout: base
---
<article>
  <div class="intro">
    <div class="flow wrapper">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="content">
    <div class="post | flow wrapper">
      {{ content | safe }}
    </div>
  </div>
</article>
