---
layout: base
schema: blog
---
<article>
  <div class="intro">
    <div class="flow wrapper">
      <h1>{{ title }}</h1>
      {% set definedDate = date %} {% include "partials/date.njk" %}
      <p>by {% if author %}{{ author }}{% elseif meta.author %}{{ meta.author }}{% endif %}</p>

      {% if breadcrumb %}
      <nav class="breadcrumb">
        <ul role="list">
          {% for item in breadcrumb %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
          <li><a aria-current="page" href="{{ page.url }}">{{ title }}</a></li>
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
  <div class="content">
    <div class="post | flow wrapper">
      {% if cw %}
        <details class="flow">
          <summary>{{ cw }}</summary>
          <div class="flow">
            {{ content | safe }}
          </div>
        </details>
      {% else %}{{ content | safe }}{% endif %}
    </div>
  </div>
</article>
