@import 'config/_reset.css' layer(reset);

@import 'vendor/_prism.css';

@import 'config/_palette.css';
@import 'config/_spacings.css';
@import 'config/_typography.css';
@import 'config/_body.css';
@import 'config/_themes.css';

@import 'components/_breadcrumb.css';
@import 'components/_button.css';
@import 'components/_header.css';
@import 'components/_top-nav.css';
@import 'components/_main.css';
@import 'components/_footer.css';
@import 'components/_article-card.css';
@import 'components/_intro.css';
@import 'components/_themes.css';
@import 'components/_skip-link.css';
@import 'components/_heading-wrapper.css';
@import 'components/_demo-figure.css';
@import 'components/_tabs.css';
@import 'components/_dialog.css';

@import 'utils/_auto-grid.css';
@import 'utils/_visually-hidden.css';
@import 'utils/_flow.css';
@import 'utils/_prose.css';
@import 'utils/_no-underline.css';
@import 'utils/_breakpoints.css';
@import 'utils/_wrapper.css';
@import 'utils/_js.css';
@import 'utils/_block-link.css';
