---
title: Maths
description: A work in progress collection about various maths topics, primarily linear algebra.
layout: base
eleventyExcludeFromCollections: true
---
<article>
  <div class="intro">
    <div class="flow wrapper">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>
  <div class="content">
    <div class="flow wrapper">
      <ul role="list" class="auto-grid" style="--min: 39ch">
      {% for post in collections.maths %}
        {% include "partials/article-card.njk" %}
      {% endfor %}
      </ul>
    </div>
  </div>
</article>
