:root,
[data-theme="dark"] {

  --bg: var(--gray-6);
  --fg: #fff;
  --outline-color: var(--blue-1);

  --headline-fg: var(--pink-5);

  --link-fg: var(--blue-2);
  --link-hover-fg: var(--blue-1);

  --header-bg: #000;
  --header-fg: var(--yellow-1);

  --intro-bg: var(--violet-5);
  --intro-fg: var(--violet-1);

  --footer-bg: var(--purple-6);
  --footer-fg: var(--purple-2);

  --code-fg: var(--green-1);
  --code-bg: var(--grey-6);

  --card-bg: var(--gray-5);
  --card-fg: var(--gray-1);
  --card-headline: var(--aqua-1);
  --card-button-bg: var(--aqua-4);
  --card-button-active-bg: var(--teal-6);
  --card-button-hover-bg: var(--teal-4);

  --outline: #fff;

  --button-bg: var(--violet-4);
  --button-fg: #ffffff;

  --button-hover-bg: var(--purple-4);
  --button-hover-fg: #fff;

  --button-active-bg: var(--purple-5);
  --button-active-fg: #fff;

  --tabs-bg: #000;
  --tabs-tab-bg: #000;
  --tabs-tab-fg: var(--grey-5);
  --tabs-tab-active-bg: var(--grey-2);
  --tabs-tab-active-fg: #fff;

}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --fg: var(--gray-6);
    --outline-color: var(--blue-5);

    --headline-fg: var(--pink-5);

    --link-fg: var(--blue-2);
    --link-hover-fg: var(--blue-1);

    --header-bg: var(--gray-5);
    --header-fg: var(--yellow-1);

    --intro-bg: var(--violet-2);
    --intro-fg: var(--violet-6);

    --footer-bg: var(--purple-2);
    --footer-fg: var(--purple-6);

    --code-fg: var(--green-1);
    --code-bg: var(--grey-6);

    --card-bg: var(--gray-1);
    --card-fg: #000;
    --card-headline: var(--aqua-5);
    --card-button-bg: var(--aqua-4);
    --card-button-active-bg: var(--teal-6);
    --card-button-hover-bg: var(--teal-4);

    --outline: #fff;

    --button-bg: var(--violet-4);
    --button-fg: #ffffff;

    --button-hover-bg: var(--purple-4);
    --button-hover-fg: #fff;

    --button-active-bg: var(--purple-5);
    --button-active-fg: #fff;

    --tabs-bg: #000;
    --tabs-tab-bg: #000;
    --tabs-tab-fg: var(--grey-5);
    --tabs-tab-active-bg: var(--grey-2);
    --tabs-tab-active-fg: #fff;
  }
}

[data-theme="light"] {
  --bg: #fff;
  --fg: var(--gray-6);
  --outline-color: var(--blue-5);

  --headline-fg: var(--pink-5);

  --link-fg: var(--blue-2);
  --link-hover-fg: var(--blue-1);

  --header-bg: var(--gray-5);
  --header-fg: var(--yellow-1);

  --intro-bg: var(--violet-2);
  --intro-fg: var(--violet-6);

  --footer-bg: var(--purple-2);
  --footer-fg: var(--purple-6);

  --code-fg: var(--green-1);
  --code-bg: var(--grey-6);

  --card-bg: var(--gray-1);
  --card-fg: #000;
  --card-headline: var(--aqua-5);
  --card-button-bg: var(--aqua-4);
  --card-button-active-bg: var(--teal-6);
  --card-button-hover-bg: var(--teal-4);

  --outline: #fff;

  --button-bg: var(--violet-4);
  --button-fg: #ffffff;

  --button-hover-bg: var(--purple-4);
  --button-hover-fg: #fff;

  --button-active-bg: var(--purple-5);
  --button-active-fg: #fff;

  --tabs-bg: #000;
  --tabs-tab-bg: #000;
  --tabs-tab-fg: var(--grey-5);
  --tabs-tab-active-bg: var(--grey-2);
  --tabs-tab-active-fg: #fff;
}

[data-theme="yellow"] {
  --bg: #000;
  --fg: #cc0;

  --headline-fg: #cc0;

  --header-bg: #000;
  --header-fg: #cc0;

  --footer-bg: #000;
  --footer-fg: #cc0;

  --code-bg: #000;
  --code-fg: #cc0;

  --intro-bg: #000;
  --intro-fg: #cc0;

  --link-fg: #cc0;
  --link-hover-fg: #cc0;

  --outline: #cc0;

  --button-bg: #000;
  --button-fg: #cc0;

  --button-active-brd: 1px solid #cc0;
  --button-hover-bg: #000;
  --button-hover-fg: #cc0;

  --button-active-bg: #000;
  --button-active-fg: #cc0;

  --tabs-bg: #000;
  --tabs-tab-bg: #000;
  --tabs-tab-fg: #cc0;
  --tabs-tab-active-bg: #cc0;
  --tabs-tab-active-fg: #000;

  --card-bg: #000;
  --card-fg: #cc0;
  --card-headline: #cc0;
  --card-button-bg: #220;
  --card-button-active-bg: #220;
  --card-button-hover-bg: #220;
}

[data-theme="yellow"] .logo__svg g {
  fill: none;
  stroke: #cc0;
}

[data-theme="yellow"] .themes__button svg {
  --bg: #000;
  --fg: #cc0;
  --header-bg: #000;
  --header-fg: #cc0;
}

[data-theme="yellow"] img {
  filter: sepia(1) brightness(0.5);
}

[data-theme="yellow"] pre[class] {
  border: 1px solid #cc0;
}


[data-theme="yellow"] pre[class],
[data-theme="yellow"] code[class],
[data-theme="yellow"] code[class] * {
  background: #000!important;
  color: #cc0!important;
}

