<nav id="topNav" class="top-nav" aria-labelledby="top-navigation">
  <h2 id="top-navigation" class="visually-hidden">Top navigation</h2>
  <ul role="list">
    {% for item in navigation.top %}
    <li>
      <a
        class="top-nav__item"
        href="{{ item.url }}"
        {{
        helpers.getLinkActiveState(item.url,
        page.url)
        |
        safe
        }}
        >{{ item.text }}</a
      >
    </li>
    {% endfor %}
    <li class="js">
      <button id="themePickerButton" title="Select Theme" onclick="themePicker.showModal()" aria-controls="themePicker" aria-expanded="false">
        🎨
      </button>
    </li>
  </ul>
</nav>

{% include "partials/themes.njk" %}
